p,ul {
    border: 2px solid rebeccapurple;
    margin: 0px;
    display: inline;
}
li {
    border: 2px solid blue;
}
ul {
    display: flex;
    list-style-type: none;
}
body {
    margin: 0px;
    padding: 0px;
}